body{
    margin: 0;
}
section{
    display: flex;
    padding-left: 10%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
}
h1{
    font-size: 50px;
}
 .color{
        color: blueviolet;
}
.button{
    background-color: coral;
    text-decoration: none;
    padding: 10px 30px;
     border-radius: 5px; 
}
.align{
    text-align: center;
    color: fuchsia;
}
span{
    color: greenyellow;
}
.quater{
    width: 26%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 3%;
    margin-right: 3%;
    padding: 15px;
}
.quater img{
    width: 40%;
} 
.develop-pic{
    width: 40%;
}
.develop-pic img{
    width: 80%;
}
.develop-pic1{
    width: 60%;
}
.read-button{
    background-color: coral;
    text-decoration: none;
    padding: 10px 30px;
     border-radius: 5px;   
}
.last-section{
    width: 60%;
}
.project-pic{
    width: 40%;
}
.project-pic img{
    width: 80%;
} 
.footer{
    background-color: black;
    text-align: center;
    color: white;
    line-height: .8;
    height: 120px;
    padding-top: 10px;
} 
.footer-color{
    color: tomato;
} 
#margin{
    margin-bottom: 10px;
} 
.quater1{
    background-color: rgb(204, 186, 204);
} 
.quater2{
    background-color: rgb(189, 200, 209);
}
.quater3{
    background-color: rgb(201, 201, 153);
}     